:root {
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --primary-color-bold: #d09a40;
    --secondary-color: #0f172a;
    --linear-color: #faf5e5;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Start Header */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 35px;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo__img {
    width: 150px;
    margin-right: 20px;
}

.header-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header-menu__item {
    cursor: pointer;
    position: relative;
}

.header-menu__item:hover .header-menu__item-link,
.header-menu__item:hover .chevron-down-icon,
.header-sub-menu__item-link:hover {
    color: var(--primary-color-bold);
}

.header-menu__item-link {
    display: block;
    padding: 0 20px;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: 450;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.4s ease;
}

.chevron-down-icon {
    cursor: pointer;
    position: relative;
    top: -2px;
    font-size: 1rem;
    margin-left: 4px;
    color: var(--secondary-color);
    transition: color 0.4s ease;
}

.header-menu__item:hover .header-sub-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header-sub-menu {
    background-color: var(--white-color);
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #eee;
    min-width: 200px;
    top: 100%;
    border-radius: 1px;
    box-shadow: 0 0 1px #eee;
    z-index: 1;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.header-sub-menu__item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 400;
    display: block;
    padding: 15px 20px;
    line-height: 2rem;
    transition: color 0.2s ease;
}

.header-search {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 2px #ccc;
    border-radius: 20px;
}

.header-search__input {
    width: 400px;
    padding: 14px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header-search__btn {
    padding: 14px 12px 14px 21px;
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-search__btn.header-search__btn--mobile {
    display: none;
}

.search-icon {
    font-size: 2rem;
    color: var(--text-color);
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 2.1rem;
}

.menu-bars {
    display: none;
}

.header-right__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 20px;
}

.header-right__item {
    display: inline-block;
    position: relative;
}

.header-right__item:first-child {
    margin-right: 12px;
    padding: 4px;
}

.header-right__item-link {
    color: var(--text-color);
    padding: 4px;
    display: block;
}

.cart-icon {
    position: relative;
    color: var(--primary-color-bold);
}

.cart-quantity {
    position: absolute;
    top: -1px;
    right: -3px;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 1.5rem;
    background-color: var(--primary-color-bold);
    color: var(--black-color);
    font-weight: 700;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 rgb(0, 0, 0, 1);
}

.header-right__item:hover .user-action {
    display: block;
}

.user-action {
    display: none;
    position: absolute;
    top: 100%;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background-color: var(--white-color);
    box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
    border-top: 2px solid #eee;
    z-index: 1;
}

.user-action__link {
    display: block;
    line-height: 3.2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--secondary-color);
}

.user-action__link:hover {
    color: var(--primary-color-bold);
    font-weight: bold;
}

.user-icon {
    color: var(--secondary-color);
}

.header-search__input--mobile {
    display: none;
}

.modal-menu {
    display: none;
}

.overlay {
    display: none;
}
/* End Header */

/* Start product item */
.product-item {
    position: relative;
    background-color: var(--white-color);
    margin-bottom: 36px;
    transition: transform 0.2s;
    overflow: hidden;
}

.product-item__img-link {
    display: block;
}

.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.product-item__title-link {
    text-decoration: none;
}

.product-item__title-link:hover .product-item__name {
    color: var(--primary-color-bold);
}

.product-item__name {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 12px 0 8px;
    line-height: 2rem;
    display: block;
    text-align: center;
    transition: color 0.3s ease;
}

.product-item__rating {
    display: flex;
    justify-content: center;
    margin: 0 0 14px;
}

.star-icon {
    margin: 0 3px;
    font-size: 1.3rem;
    color: #ffbb1e;
}

.product-item__price {
    margin-bottom: 12px;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
}

.product-item__price-old {
    margin-right: 10px;
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #0e1c22;
    opacity: 0.4;
}

.product-item__price-current {
    font-size: 1.8rem;
    color: var(--primary-color-bold);
    font-weight: 700;
}

.product-item__sale-off {
    position: absolute;
    left: 5px;
    top: 5px;
    min-width: 56px;
    text-align: center;
    color: var(--primary-color-bold);
    background-color: var(--white-color);
    padding: 5px 10px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
}

.add-to-cart-box {
    display: flex;
    justify-content: center;
}

.add-to-cart-btn {
    color: var(--white-color);
    background-color: var(--primary-color-bold);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.add-to-cart-btn:hover {
    opacity: 0.9;
}

.check-icon {
    display: none !important;
    margin-left: 4px;
}

.add-to-cart-btn.active .check-icon {
    display: inline-block !important;
}

.add-to-cart-btn.active:hover {
    cursor: default;
    opacity: 1;
}
/* End product item */

/* Start Button */
.buy-now-btn,
.buy-now-btn--bigger {
    color: var(--white-color);
    background-color: var(--primary-color-bold);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.buy-now-btn--bigger {
    padding: 15px 35px;
}

.buy-now-btn:hover,
.buy-now-btn--bigger:hover {
    opacity: 0.9;
}

.buy-now-btn__link {
    text-decoration: none;
    color: var(--white-color);
}

.arrow-icon {
    margin-left: 4px;
}

.shopping-cart-icon {
    margin-right: 8px;
}
/* End Button */

.section-title {
    position: relative;
    text-align: center;
    font-size: 3.5rem;
    line-height: 6rem;
    color: var(--secondary-color);
    margin: 0 0 35px;
    font-family: 'Roboto Mono', monospace;
}

/* Start Footer */
.main-footer {
    background-color: var(--secondary-color);
    padding: 75px 0;
    border-bottom: 1px solid #ccc;
}

.footer-logo {
    width: 150px;
}

.footer-menu__heading {
    font-size: 2.2rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 20px;
    color: var(--white-color);
    font-weight: 400;
}

.footer-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.footer-menu__item-link {
    text-decoration: none;
    color: var(--white-color);
    padding: 4px 0;
    display: block;
    color: #a5b0b6;
    transition: color 0.2s ease;
}

.footer-menu__item-link:hover {
    color: var(--white-color);
}

.sub-footer {
    padding: 30px 0;
    background-color: var(--secondary-color);
}

.sub-footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-title {
    font-size: 1.6rem;
    color: #a5b0b6;
}

.social-link {
    padding: 3px;
}

.social-icon {
    font-size: 1.6rem;
    color: #a5b0b6;
    margin: 0 10px;
}

.social-icon:hover {
    color: var(--primary-color-bold);
}

.header-menu--tablet {
    display: none;
}
/* End Footer */

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    /* Start header */
    .header-logo__img {
        width: 125px;
    }

    .header-search__input {
        width: 300px;
    }

    .header-menu {
        display: none;
    }

    .header-menu.header-menu--tablet {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .header-menu__item-link {
        padding: 0 30px;
    }
    /* End header */

    /* Start footer */
    .footer-box-none {
        display: none;
    }

    .footer-item {
        text-align: center;
    }
    /* End footer */
}

/* Mobile */
@media (max-width: 739px) {
    /* Start header */
    header {
        padding: 15px;
    }

    .header-logo {
        margin-right: 0;
    }

    .header-logo__img {
        width: 100px;
    }

    .header-menu {
        display: none;
    }

    .header-search {
        box-shadow: none;
        border: none;
    }

    .header-search__input {
        display: none;
    }

    .header-search__btn {
        border-radius: 0;
        padding: 10px;
        display: none;
    }

    .header-search__btn.header-search__btn.header-search__btn--mobile {
        display: block;
        margin-right: 14px;
    }

    .header-right__list {
        margin-left: 0;
    }

    .menu-bars {
        display: inline-block;
        margin-left: 24px;
        padding: 6px;
        background-color: var(--primary-color-bold);
        color: var(--white-color);
    }

    .header-right-list {
        margin-left: 0;
    }

    .header-search__input--mobile {
        margin-top: 10px;
        width: 100%;
        padding: 14px;
        font-size: 1.4rem;
        display: none;
        border-radius: 20px;
        border: 1px solid #dbdbdb;
        box-shadow: 0 0 2px #ccc;
        transition: opacity 0.3s ease;
    }

    .header-search__input--mobile.block {
        display: block;
        opacity: 1;
    }

    .modal-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        display: block;
    }

    .modal-menu.active {
        transform: translateX(0);
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        background: red;
        color: white;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .modal-menu__list {
        list-style: none;
        padding: 80px 0;
        margin: 0;
    }

    .modal-sub-menu__list {
        padding-right: 20px;
        margin: 0;
        display: none;
        transition: transform ease 0.5s;
    }

    .modal-menu__item-link,
    .modal-sub-menu__item-link {
        text-decoration: none;
        font-size: 1.8rem;
        color: var(--secondary-color);
        display: block;
        padding: 20px;
        border-bottom: 1px solid #ccc;
    }

    .modal-sub-menu__item-link {
        font-size: 1.6rem;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 999;
        display: block;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .modal-sub-menu__list.active {
        display: block;
    }
    /* End header */

    .section-title {
        font-size: 2.6rem;
    }

    /* Start footer */
    .footer-item {
        text-align: center;
        padding: 20px 4px;
    }

    .main-footer {
        padding: 50px 0;
    }

    .sub-footer-box {
        flex-direction: column;
    }

    .copyright-title {
        margin-bottom: 30px;
    }

    .social-icon {
        font-size: 2rem;
    }
    /* End footer */
}
