/* Start Slideshow/Banner mobile */
.slideshow-container {
    height: 712px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.slide-img {
    width: 100%;
    height: auto;
}

.slideshow-prev,
.slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
    user-select: none;
}

.slideshow-prev {
    left: 0;
}

.slideshow-next {
    right: 0;
}

.banner-mobile {
    display: none;
}
/* End Slideshow/Banner mobile */

/* Start Benefits section */
.benefits-section {
    background-color: var(--secondary-color);
}

.benefits-wrap {
    padding: 24px 0;
}

.benefit-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444547;
    height: 120px;
    border-radius: 2px;
}

.benefit-item__icon {
    font-size: 3rem;
    color: var(--primary-color-bold);
}

.benefit-item__content {
    color: var(--white-color);
    margin-left: 20px;
}

.benefit-item__title {
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 10px;
}

.benefit-item__desc {
    font-size: 1.6rem;
}
/* End Benefits section */

/* Start featured products section */
.featured-products-section {
    padding: 100px 0 50px;
}
/* End featured products section */

/* Start featured categories section */
.featured-categories-section {
    background-color: var(--linear-color);
}

.featured-categories-wrap {
    padding: 100px 0;
}

.category-item {
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background-position: 74px 150px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 366px;
}

.category-item__name {
    margin: 0;
    margin-bottom: 12px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.category-item__desc {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 350;
    margin-bottom: 23px;
}

.category-item__img {
    width: 300px;
    display: block;
    margin-left: auto;
}
/* End featured categories section */

/* Start promotion section */
.promotion-section {
    background-color: var(--secondary-color);
    position: relative;
}

.promotion-section::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--secondary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
}

.promotion-section-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.promotion-section__title {
    margin: 0;
    color: var(--white-color);
    font-size: 3.5rem;
    line-height: 4rem;
}

.sub-promotion-section {
    background-color: var(--linear-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-promotion-section__title {
    margin: 0;
    color: var(--secondary-color);
    font-size: 2.5rem;
    line-height: 2.5rem;
}
/* End promotion section */

/* Start promotional products section */
.promotional-products-section {
    padding: 100px 0 50px;
}

.promotional-products-section--mobile {
    display: none;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.slider-box {
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    margin-left: -12px;
    margin-right: -12px;
}

.product-slide {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.slider-prev,
.slider-next,
.slider-prev--tablet,
.slider-next--tablet {
    font-size: 3rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.slider-prev,
.slider-prev--tablet {
    left: 40px;
    background: linear-gradient(to left, var(--linear-color), var(--primary-color-bold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-next,
.slider-next--tablet {
    right: 40px;
    background: linear-gradient(to right, var(--linear-color), var(--primary-color-bold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-prev--tablet,
.slider-next--tablet {
    display: none;
}
/* End promotional products section */

/* Start review section */
.review-section {
    background: url(../image/background-icon/banhbonglan.png),
        linear-gradient(to bottom, var(--white-color), var(--linear-color));
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: top left;
}

.review-box {
    align-items: flex-end;
}

.review-item {
    padding: 75px 50px;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.review-item__rating {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
}

.star-icon-large {
    margin: 0 4px;
    font-size: 1.6rem;
    color: #ffbb1e;
}

.review-item__content {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 30px;
}

.review-item__user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-item__user-avatar {
    width: 55px;
    border-radius: 50%;
}

.review-item__user-name {
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 15px;
    color: var(--secondary-color);
}

.promotion-item {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 60px 50px;
}

.promotion-item__title {
    font-size: 3.2rem;
    text-align: center;
    line-height: 4rem;
    margin: 0;
    margin-bottom: 125px;
    color: var(--white-color);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
/* End review section */

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .slideshow-container {
        height: 376px;
    }

    .benefit-item-box {
        padding: 8px;
    }

    .benefit-item {
        height: 100px;
    }

    .benefits-wrap {
        padding: 16px 0;
    }

    .featured-categories-wrap {
        padding: 70px 0;
    }

    .category-item-box {
        padding: 16px 8px;
    }

    .category-item {
        height: 300px;
        background-position: 250px 100px;
    }

    .promotion-box {
        padding: 40px 0;
    }

    .promotion-section__title {
        font-size: 2.1rem;
        line-height: 3rem;
    }

    .sub-promotion-section {
        height: 80px;
    }

    .sub-promotion-section__title {
        font-size: 2rem;
    }

    .product-slide {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 8px;
        padding-right: 8px;
        scroll-snap-align: start;
    }

    .slider.slider--tablet {
        overflow-x: auto; /* Cho phép cuộn ngang */
        white-space: nowrap; /* Không xuống dòng */
        scroll-snap-type: x mandatory; /* Căn từng mục khi cuộn */

        /* Ẩn thanh cuộn trên Chrome, Safari và Edge */
        -ms-overflow-style: none; /* Ẩn trên IE và Edge */
        scrollbar-width: none; /* Ẩn trên Firefox */
    }

    .horizontal-scroll::-webkit-scrollbar {
        display: none; /* Ẩn trên Chrome, Safari và Opera */
    }

    .slider-prev,
    .slider-next {
        display: none;
    }

    .slider-next--tablet,
    .slider-prev--tablet {
        display: block;
    }

    .slider-prev--tablet {
        left: 15px;
    }

    .slider-next--tablet {
        right: 15px;
    }

    .review-section {
        background: linear-gradient(to bottom, var(--white-color), var(--linear-color));
    }

    .review-item-box {
        padding: 16px 8px;
    }

    .promotion-item {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promotion-item__title {
        margin-bottom: 50px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .slideshow-container {
        display: none;
    }

    .banner-mobile {
        padding: 65px 20px;
        background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
        text-align: center;
        display: block;
    }

    .banner-mobile__label {
        font-size: 1.4rem;
        line-height: 2rem;
        color: var(--secondary-color);
        margin: 0;
        font-weight: 400;
    }

    .banner-mobile__name {
        font-size: 3.5rem;
        line-height: 5rem;
        font-family: 'Bona Nova SC', serif;
        color: var(--primary-color-bold);
        font-weight: 700;
        margin-top: 15px;
    }

    .banner-mobile__desc {
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: #4a4a4a;
        margin-bottom: 50px;
    }

    .banner-mobile__img {
        margin-top: 60px;
        width: 100%;
        border-radius: 50px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    .benefit-item-box {
        padding: 8px 4px;
    }

    .benefit-item {
        height: 100px;
    }

    .featured-categories-wrap {
        padding: 60px 0;
    }

    .category-item-box {
        padding: 10px 0;
    }

    .c-offset-1 {
        margin-left: 8.33333%;
    }

    .promotion-section-box {
        flex-direction: column;
        padding: 40px 20px;
    }

    .promotion-section {
        height: 200px;
    }

    .promotion-section::before {
        bottom: -13px;
    }

    .promotion-section__title {
        font-size: 2.5rem;
        text-align: center;
        line-height: 3rem;
        margin-bottom: 25px;
    }

    .sub-promotion-section__title {
        font-size: 1.8rem;
    }

    .promotional-products-section {
        display: none;
    }

    .promotional-products-section--mobile {
        padding: 100px 0 50px;
        display: block;
    }

    .review-section {
        background: linear-gradient(to bottom, var(--white-color), var(--linear-color));
    }

    .review-item-box {
        padding: 16px 4px;
    }

    .promotion-item__title {
        margin-bottom: 50px;
    }
}
